@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1709628216500') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 100px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Double-Click:before {
  content: "\e91a";
}

